/*  your css code here. If applicable */
* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

#contain {
	border: 5px solid black;
	/* height: 50px; */
	display: inline-block;
	text-align: center;
	padding: 20px 40px;
	border-radius: 50px;
	background-color: lightgray;
}

.inners {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	/* margin-bottom: -5px; */
}

#red {
	background-color: red;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}